<h1>Cats!</h1>

<h2>Devoured Burgers</h2>

<ul>
	{{#each burgers}}
		{{#if devoured}}
			{{burger_name}}
		{{/if}}

	{{/each}}
</ul>

<h2>Undevoured Burgers</h2>

<ul>
	{{#each burgers}}
		{{#unless devoured}}
			{{burger_name}}
		{{/unless}}
	{{/each}}
</ul>

<h2>Add a Cat</h2>
<form id="create-form">

	<div class="form-group">
		<label for="ca">Burger Name:</label>
		<input type="text" id="ca" name="name">
	</div>

	<div class="form-group">
		<label for="sleepy">Devoured</label><br>
		<input type="radio" name="sleepy" value="1" id="sleepy" checked> eaten!<br>
		<input type="radio" name="sleepy" value="0" id="awake"> nope
	</div>

	<button type="submit">devour</button>
</form>