/*body {*/
/*    background-image: url("/assets/img/56736505_s.jpg");*/
/*    !*background: repeat;*!*/
/*}*/

body::after {
    content: "";
    background-image: url("/assets/img/56736505_s.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.burger-content {
    color: #ff5500;
    background-color: white;
    opacity: 0.75;
    padding: 12px;
    margin: 12px;
}

.burger-content li:not(:last-child) {
    margin-bottom: 0.75em;
}

li a {
    text-decoration: none;
    color: white;
}

li a hover {
    color: #ff5500;
}

.delete-burger-btn {
/*button, input[type="submit"], input[type="reset"] {*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    /*cursor: pointer;*/
    /*outline: inherit;*/
}

.change-status-btn {
    /*button, input[type="submit"], input[type="reset"] {*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    /*cursor: pointer;*/
    /*outline: inherit;*/
}

.wavey {
    position: relative;
    /*top: 55px;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*z-index: 1;*/
}



@media only screen and (max-width: 600px) {
    .burgers
    {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        /*position: absolute;*/
        width: 99%;
    }

    .footer {
        padding-top: 12px;
        background: black;
        color: whitesmoke;
        /*position: absolute;*/
        /*bottom: 0;*/
        width: 100%;
        z-index: 0;
    }
}


@media only screen and (min-width: 600px) {
    .burgers
    {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        position: absolute;
        width: 99%;
    }

    .footer {
        padding-top: 12px;
        background: black;
        color: whitesmoke;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 0;
    }
}