<li><i class="lni lni-burger"></i> {{burger_name}}
	{{#unless devoured}}
	<button type="button" class="change-status btn-sm btn-outline-danger" data-id="{{id}}" data-newsleep={{devoured}}>
		DEVOUR IT!!!
	</button>
	{{/unless}}
</li>
