<li><span class="fa-li"><i class="fas fa-hamburger custom-li"></i></span>{{burger_name}}
	{{#unless devoured}}
		<button type="button" class="change-status-btn"><i class="change-status fas fa-utensils" data-id="{{id}}" data-newsleep={{devoured}}></i></button>&nbsp;
	{{/unless}}
	<button type="button" class="delete-burger-btn"><i class="delete-burger lni lni-cross-circle" data-id="{{id}}"></i></button>
</li>


